body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #264157;
}

main {
  display: flex;
  /*flex-direction: row;
    justify-content: space-evenly;*/
  flex-wrap: wrap;
}

main > div {
  flex: 1 1 150%;
}

header {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6eb7f4;
}

.card {
  margin: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  border-radius: 7px;
  background-color: #cce7ff;
}

.card > h3 {
  color: #264157;
  font-weight: bold;
  font-stretch: ultra-expanded;
}

select {
  font-size: large;
}

#info-container {
  /*align-self: stretch;
  display: flex;
  justify-content: space-between;*/
  display: flex;
  justify-content: space-evenly;
}

#bank-container {
  min-width: 40%;
}

#work-container {
  min-width: 40%;
}

#computer-container {
}

#top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#specs-list {
  list-style: square;
}

#computer-features {
  display: flex;
  flex-wrap: wrap;
}

img {
  padding: 5%;
  width: 15em;
}

#info-content {
  display: flex;
  flex-grow: 1;
  font-size: large;
}
#buy-btn {
  width: 20%;
  height: 3em;
  margin: 4em;
  border-radius: 10em;
  color: #264157;
  background-color: #6eb7f4;
  font-weight: bold;
  font-size: large;
}
